timer.json
[{"id":"50903ce9.3e2a84","type":"tab","label":"Timer","disabled":false,"info":""},{"id":"de71bee8.90c2e","type":"subflow","name":"Stage C Subflow","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"f784b66b.8e5768"}]}],"out":[{"x":1620,"y":180,"wires":[{"id":"a324fbf8.d658f8","port":0}]},{"x":1620,"y":240,"wires":[{"id":"6248b56.0abcd4c","port":0}]}],"env":[]},{"id":"924326d9.af7648","type":"subflow","name":"Stage B Subflow","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"3f8fc3da.1a895c"}]}],"out":[{"x":1560,"y":140,"wires":[{"id":"4952f3de.9dd5bc","port":0}]},{"x":1560,"y":200,"wires":[{"id":"cb8c6085.efdff","port":0}]}],"env":[]},{"id":"937ebd5d.7708f","type":"subflow","name":"Stage A Subflow","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"934b24d.d8804d8"}]}],"out":[{"x":1540,"y":140,"wires":[{"id":"de483a53.d80408","port":0}]},{"x":1540,"y":200,"wires":[{"id":"8753b43f.ba83f8","port":0}]}],"env":[]},{"id":"f8954383.42769","type":"ui_group","z":"","name":"Modes","tab":"8cfd7aad.920828","order":3,"disp":false,"width":"1"},{"id":"8cfd7aad.920828","type":"ui_tab","z":"","name":"Maestro Protos","icon":"loop","order":2},{"id":"22e7d6ff.867c1a","type":"ui_group","z":"","name":"Times","tab":"8cfd7aad.920828","order":2,"disp":false,"width":"4"},{"id":"a324fbf8.d658f8","type":"change","z":"de71bee8.90c2e","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"C\" Forward","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"C\" Reverse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":180,"wires":[[]]},{"id":"6248b56.0abcd4c","type":"change","z":"de71bee8.90c2e","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"C\" High","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"C\" Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":240,"wires":[[]]},{"id":"be69f637.153e38","type":"function","z":"de71bee8.90c2e","name":"Store Stage C Speed","func":"\nglobal.set('spd3', msg.payload);\n","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["65b3654f.14980c"]]},{"id":"6304a1b7.2ffd1","type":"function","z":"de71bee8.90c2e","name":"Store Stage C Direction","func":"\nglobal.set('dir3', msg.payload);\n","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["a7f55c10.4efe8"]]},{"id":"f194325a.0082b","type":"function","z":"de71bee8.90c2e","name":"Store Stage C Duratioin","func":"\nglobal.set('dur3', msg.payload);\n","outputs":1,"noerr":0,"x":730,"y":120,"wires":[[]]},{"id":"424b71a2.750b","type":"ui_numeric","z":"de71bee8.90c2e","name":"Stage C Duration","label":"Set C to: ","tooltip":"","group":"22e7d6ff.867c1a","order":10,"width":"4","height":"1","passthru":true,"topic":"duration","format":"{{value}} min.","min":"1","max":"30","step":1,"x":470,"y":120,"wires":[["f194325a.0082b"]]},{"id":"67a255a9.92fcfc","type":"ui_switch","z":"de71bee8.90c2e","name":"Stage C Direction","label":"","tooltip":"","group":"f8954383.42769","order":6,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"direction","style":"","onvalue":"1","onvalueType":"num","onicon":"rotate_right","oncolor":"Magenta","offvalue":"0","offvalueType":"num","officon":"rotate_left","offcolor":"Magenta","x":470,"y":180,"wires":[["6304a1b7.2ffd1"]]},{"id":"c00361cc.14aaf","type":"ui_switch","z":"de71bee8.90c2e","name":"Stage C Speed","label":"","tooltip":"","group":"f8954383.42769","order":7,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"speed","style":"","onvalue":"1","onvalueType":"num","onicon":"vertical_align_top","oncolor":"Cyan","offvalue":"0","offvalueType":"num","officon":"vertical_align_bottom","offcolor":"Cyan","x":460,"y":240,"wires":[["be69f637.153e38"]]},{"id":"de483a53.d80408","type":"change","z":"937ebd5d.7708f","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"A\" Forward","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"A\" Reverse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":140,"wires":[[]]},{"id":"8753b43f.ba83f8","type":"change","z":"937ebd5d.7708f","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"A\" High","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"A\" Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":200,"wires":[[]]},{"id":"9b3de984.b15898","type":"function","z":"937ebd5d.7708f","name":"Store Stage A Speed","func":"\nglobal.set('spd1', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["eb8680c9.bd246"]]},{"id":"430f24bf.7fdefc","type":"function","z":"937ebd5d.7708f","name":"Store Stage A Direction","func":"\nglobal.set('dir1', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["65690f45.6ef61"]]},{"id":"41bef533.d6e90c","type":"function","z":"937ebd5d.7708f","name":"Store Stage A Duratioin","func":"\nglobal.set('dur1', msg.payload);\n","outputs":1,"noerr":0,"x":610,"y":80,"wires":[[]]},{"id":"128bdc21.618de4","type":"ui_numeric","z":"937ebd5d.7708f","name":"Stage A Duration","label":"Set A to: ","tooltip":"","group":"22e7d6ff.867c1a","order":4,"width":"4","height":"1","passthru":true,"topic":"duration","format":"{{value}} min.","min":"1","max":"30","step":1,"x":370,"y":80,"wires":[["41bef533.d6e90c"]]},{"id":"cc340c0.dfbd1f8","type":"ui_switch","z":"937ebd5d.7708f","name":"Stage A Direction","label":"","tooltip":"","group":"f8954383.42769","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"direction","style":"","onvalue":"1","onvalueType":"num","onicon":"rotate_right","oncolor":"Magenta","offvalue":"0","offvalueType":"num","officon":"rotate_left","offcolor":"Magenta","x":370,"y":140,"wires":[["430f24bf.7fdefc"]]},{"id":"be319941.33e458","type":"ui_switch","z":"937ebd5d.7708f","name":"Stage A Speed","label":"","tooltip":"","group":"f8954383.42769","order":3,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"speed","style":"","onvalue":"1","onvalueType":"num","onicon":"vertical_align_top","oncolor":"Cyan","offvalue":"0","offvalueType":"num","officon":"vertical_align_bottom","offcolor":"Cyan","x":360,"y":200,"wires":[["9b3de984.b15898"]]},{"id":"2d189340.a70e8c","type":"ui_dropdown","z":"50903ce9.3e2a84","name":"Profile Select","label":"Profile","tooltip":"","place":"Select option","group":"22e7d6ff.867c1a","order":1,"width":"4","height":"1","passthru":true,"options":[{"label":"Profile 1","value":1,"type":"num"},{"label":"Profile 2","value":2,"type":"num"},{"label":"Profile 3","value":3,"type":"num"},{"label":"Profile 4","value":4,"type":"num"},{"label":"Profile 5","value":5,"type":"num"},{"label":"Profile 6","value":6,"type":"num"},{"label":"Profile 7","value":7,"type":"num"},{"label":"Profile 8","value":8,"type":"num"},{"label":"Profile 9","value":9,"type":"num"},{"label":"Profile 10","value":10,"type":"num"}],"payload":"","topic":"","x":410,"y":20,"wires":[["7269eca7.b60414"]]},{"id":"ff82b0d9.5863c","type":"change","z":"50903ce9.3e2a84","name":"Generate Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Profile set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":20,"wires":[["52df2ea.3cf3fd","e597a6ae.7770b8"]]},{"id":"13a765ae.9c017a","type":"ui_numeric","z":"50903ce9.3e2a84","name":"Timer Loop","label":"Loop: ","tooltip":"","group":"22e7d6ff.867c1a","order":17,"width":"4","height":"1","passthru":true,"topic":"loop","format":"{{value}} times","min":"1","max":"3","step":1,"x":410,"y":300,"wires":[["ffe3716e.b4127"]]},{"id":"dc4dab78.a17f08","type":"ui_button","z":"50903ce9.3e2a84","name":"Load Button","group":"22e7d6ff.867c1a","order":2,"width":"2","height":"1","passthru":true,"label":"Load","tooltip":"","color":"","bgcolor":"#323232","icon":"","payload":"","payloadType":"num","topic":"","x":410,"y":60,"wires":[["9115fb35.aebfd8"]]},{"id":"15c05d91.af9972","type":"ui_button","z":"50903ce9.3e2a84","name":"Save Button","group":"22e7d6ff.867c1a","order":3,"width":"2","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"#323232","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":100,"wires":[["afea9776.bc71a8"]]},{"id":"3fe119ed.993666","type":"change","z":"50903ce9.3e2a84","name":"Generate Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Profile Loaded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":60,"wires":[["52df2ea.3cf3fd","e597a6ae.7770b8"]]},{"id":"fb8c4da3.5ead3","type":"change","z":"50903ce9.3e2a84","name":"Generate Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Profile Saved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[["52df2ea.3cf3fd","e597a6ae.7770b8"]]},{"id":"f4e43e9c.9ecaa","type":"comment","z":"50903ce9.3e2a84","name":"Variables & Algorithms","info":"VARIABLES: [initial/default values]\nMode=Run/Pause/S&R/S&C [0=stopped]\nPasses=# of passes thru the flow stack [0]\nLoop=current loop # [0 completed]\nDur1/2/3=duration at each phase [0]\nTimer1/2/3=elapsed time at current phase [0]\nSpd1/2/3=Hi/Lo speed at each phase [0=lo]\nDir1/2/3=Fwd/Rev direction at each  phase [0=fwd]\n\nALGORITHMS:\nWait for \"Run\" button press (if Mode not= Run)\nFor each phase:\nCapture change to Mode button:\n    If Pause then Drum=\"Halted\"\n    If S&R then Drum=\"Halted\" & all Dur=Durations\n    If S&C then Drum=\"Halted\" & all Dur=0\nIf Mode NEQ \"Run\" then \"Rotate/Halt\" button works\nSpd set to [hi/lo] and Dir set to [fwd/rev]\nDur is set to value [minutes]\nSet Drum=\"Run\" and start internal countdown counter\nWhen elapsed time = 0; set Spd, Dir and Dur for next\nDecrement Loop counter\nAnnounce \"Phase A completed\" to end that phase\nStart next phase automatically unless Loop=Passes\nOtherwise repeat 13-20\nSet Drum=\"Halted\" & announce \"Run completed\"","x":120,"y":20,"wires":[]},{"id":"8af58910.2a3e88","type":"rpi-gpio out","z":"50903ce9.3e2a84","name":"GPIO 16 (Spd)","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1260,"y":840,"wires":[]},{"id":"c6d50463.e07d58","type":"rpi-gpio out","z":"50903ce9.3e2a84","name":"GPIO 20 (Fwd)","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1540,"y":720,"wires":[]},{"id":"8e6fab85.0f91e8","type":"rpi-gpio out","z":"50903ce9.3e2a84","name":"GPIO 21 (Rev)","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1540,"y":780,"wires":[]},{"id":"ffe3716e.b4127","type":"function","z":"50903ce9.3e2a84","name":"Global Data Process","func":"var value = msg.payload; // Input Value for Several Cases\n\n// Process Input Data\nswitch (msg.topic) {\n    case 'run':     // Run/Pause Button\n        if (value === 1) {\n            global.set('timerState', 'started');    // Set Timer state started.\n        }\n        global.set('isRunning', value);     // Set the timer status\n        break;\n    case 'loop':    // Loop input\n        global.set('loop', value);          // Set the loop count\n        break;\n    case 'sr':      // Stop and Reset Button\n        global.set('timerState', 'stopped');    // Set Timer State stopped.\n        global.set('isRunning', 0);         // Reset timer status\n        global.set('currentStage', 1);      // Reset current stage\n        global.set('currentLoop', 0);       // Reset current loop\n        global.set('elapsed', 0);           // Reset elapsed time\n        break;\n    case 'sc':      // Stop and Clear Button\n        global.set('timerState', 'stopped');    // Set Timer State stopped.\n        global.set('currentLoop', 0);       // Reset current loop\n        global.set('elapsed', 0);           // Reset elpased time\n        global.set('currentStage', 1);      // Initial Stage 1\n        global.set('isRunning', 0);         // Timer is not working initially.\n        \n        for (var i = 1; i <= global.get('totalStage'); i++) {\n            global.set('dur' + i, 1);   // Initial Duration is all set by 1\n        }\n        break;\n    case 'drum':\n        global.set('drum', value);      // Set the drum status\n        if (value === 1) {\n            global.set('drumState', 'started'); // Set the drum status message\n        }\n        break;\n}","outputs":1,"noerr":0,"x":700,"y":620,"wires":[[]]},{"id":"52df2ea.3cf3fd","type":"play audio","z":"50903ce9.3e2a84","name":"Play Text Audio","voice":"0","x":1080,"y":260,"wires":[]},{"id":"9ada52c0.8e7df","type":"function","z":"50903ce9.3e2a84","name":"Initial Setup","func":"global.set('loop', 1);          // Initial loop 1\nglobal.set('currentStage', 1);  // Initial Stage 1\nglobal.set('totalStage', 3);    // Total Stage 3\nglobal.set('isRunning', 0);     // Timer is not working initially.\nglobal.set('currentLoop', 0);   // Current Loop is 0\nglobal.set('elapsed', 0);       // Current Elapsed time is 0\nglobal.set('drum', 0);          // Drum Initial 0\nglobal.set('timerState', 'stopped'); // Running State\nglobal.set('drumState', 'initial'); // Drum State\nglobal.set('profile_idx', 1);   // Initial Profile Index is 1\nglobal.set('stageADirReset', false);\nglobal.set('stageASpdReset', false);\nglobal.set('stageBDirReset', false);\nglobal.set('stageBSpdReset', false);\nglobal.set('stageCDirReset', false);\nglobal.set('stageCSpdReset', false);\n\nfor (var i = 1; i <= global.get('totalStage'); i++) {\n    global.set('dur' + i, 1);   // Initial Duration is all set by 1\n    global.set('dir' + i, 0);   // Initial Direction is all Reverse\n    global.set('spd' + i, 0);   // Initial Speed is all low\n}\nmsg = {payload: 1}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["7f3e2a8a.07c594","a514524b.60968","32033bac.8017b4"]]},{"id":"a127e47d.feef28","type":"inject","z":"50903ce9.3e2a84","name":"Initial Setup Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.01","x":210,"y":540,"wires":[["9ada52c0.8e7df"]]},{"id":"7f3e2a8a.07c594","type":"function","z":"50903ce9.3e2a84","name":"Global Timer","func":"\nsetInterval(function() {\n    var notice = '';\n    var stageString = ['0', 'A', 'B', 'C'];\n    var loopString = ['zero', 'one', 'two', 'three'];\n    if (global.get('isRunning')) {\n        var elapsed = global.get('elapsed');   // Elapsed time\n        var currentLoop = global.get('currentLoop'); // Current Loop\n        var currentStage = global.get('currentStage');\n        \n        elapsed++;      // increase elapsed time\n        /* Check if it's the end of current stage */\n        if (elapsed == global.get('dur' + currentStage)) { // Check if it's finished\n            elapsed = 0;    // Reset elapsed time\n            currentStage++; // next stage\n            if (currentStage > global.get('totalStage')) {\n                currentStage = 1;   // Reset current stage\n                currentLoop++;         // Increase loop\n                if (currentLoop == global.get('loop')) {       // Check if loop is finished\n                    currentLoop = 0;    // Reset Current Loop\n                    global.set('isRunning', 0);     // Stop timer\n                    global.set('currentStage', 1);  // Reset stage\n                    global.set('timerState', 'stopped');\n                    notice = 'Run completed!';      // Run completed message\n                } else {\n                    notice = 'Loop ' + loopString[currentLoop] + ' completed!';\n                }\n            } else {\n                notice = 'Stage ' + stageString[currentStage - 1] + ' completed!';   // Stage completed message\n            }\n        }\n        \n        global.set('elapsed', elapsed);    // Save elapsed time to global variable\n        global.set('currentStage', currentStage);  // Save current stage to global variable\n        global.set('currentLoop', currentLoop);     // Save current loop to global variable\n    }\n    \n    var output = [];    // function node output\n    output.push({payload: notice}); // show notice\n    for (i = 1; i <= global.get('totalStage'); i++) {   // measure time left\n        if (i < global.get('currentStage')) {\n            output.push({payload: 0});\n        } else if (i == global.get('currentStage')) {\n            output.push({payload: global.get('dur' + i) - global.get('elapsed'), running: (global.get('isRunning') && global.get('currentStage') == i)});  // If it's currentStage\n        } else {\n            output.push({payload: global.get('dur' + i)});    // If it's not started yet,\n        }\n    }\n    output.push({payload: global.get('loop') - global.get('currentLoop')}); // loop left\n    output.push({payload: global.get('isRunning')});    // timer status\n    node.send(output);\n}, 1000);   // Interval every 1s","outputs":6,"noerr":0,"x":670,"y":540,"wires":[["579c5713.b45188","ad16a014.a7b18"],["b4ee6a2b.45ae78","ee25d1b5.adc99"],["c9781317.697fa","84fe2f71.79dec"],["eedd8126.a8b04","3f8d616c.7c236e"],["5c64faf8.269154"],["f60f23bd.6485a"]]},{"id":"579c5713.b45188","type":"switch","z":"50903ce9.3e2a84","name":"Any notice?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":400,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"f60f23bd.6485a","type":"function","z":"50903ce9.3e2a84","name":"Control Raspberry","func":"var isRunning = msg.payload || global.get('drum'); // Get the drum status\n\nvar dir = global.get('dir' + global.get('currentStage'));   // Get Current stage direction\nvar spd = global.get('spd' + global.get('currentStage'));   // Get Current stage speed\n\nvar rev = (dir && isRunning) ? 0 : 1;        // Determine the direction\nvar fwd = ((!dir) && isRunning) ? 0 : 1;     // Determine the direction\n\nmsg = [{payload: fwd}, {payload: rev}, {payload: spd}];\n\nreturn msg;","outputs":3,"noerr":0,"x":970,"y":780,"wires":[["9daa4b06.9854b8"],["47bd3a65.38c474"],["8af58910.2a3e88"]]},{"id":"b4ee6a2b.45ae78","type":"ui_text","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","order":5,"width":"3","height":"1","name":"A Time Left","label":"A Left: ","format":"{{msg.payload}} min.","layout":"row-spread","x":950,"y":480,"wires":[]},{"id":"c9781317.697fa","type":"ui_text","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","order":8,"width":"3","height":"1","name":"B Time Left","label":"B Left: ","format":"{{msg.payload}} min.","layout":"row-spread","x":950,"y":560,"wires":[]},{"id":"eedd8126.a8b04","type":"ui_text","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","order":11,"width":"3","height":"1","name":"C Time Left","label":"C Left: ","format":"{{msg.payload}} min.","layout":"row-spread","x":950,"y":640,"wires":[]},{"id":"5c64faf8.269154","type":"ui_text","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","order":18,"width":0,"height":0,"name":"Loops Left","label":"Loops Left:","format":"{{msg.payload}} times.","layout":"row-spread","x":950,"y":720,"wires":[]},{"id":"e597a6ae.7770b8","type":"ui_text","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","order":19,"width":0,"height":0,"name":"Display Text","label":"","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":200,"wires":[]},{"id":"3508ad1a.c25252","type":"subflow:937ebd5d.7708f","z":"50903ce9.3e2a84","name":"Timer A Control","env":[],"x":680,"y":380,"wires":[["52df2ea.3cf3fd","e597a6ae.7770b8"],["52df2ea.3cf3fd","e597a6ae.7770b8"]]},{"id":"8a9a22b4.7fe86","type":"subflow:924326d9.af7648","z":"50903ce9.3e2a84","name":"Timer B Control","env":[],"x":680,"y":420,"wires":[["52df2ea.3cf3fd","e597a6ae.7770b8"],["52df2ea.3cf3fd","e597a6ae.7770b8"]]},{"id":"116aa95e.df8787","type":"subflow:de71bee8.90c2e","z":"50903ce9.3e2a84","name":"Timer C Control","env":[],"x":680,"y":460,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"],["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"a514524b.60968","type":"function","z":"50903ce9.3e2a84","name":"Set to 0","func":"msg = {payload: 0}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["ab0929c0.c61608","eaed379.f538dc8"]]},{"id":"ee25d1b5.adc99","type":"ui_template","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","name":"A Timer LED","order":6,"width":"1","height":"1","format":"<svg>\n    <circle cx=\"19\" cy=\"19\" r=\"10\" style=\"stroke: none; fill: {{msg.running ? 'lime' : 'grey'}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":520,"wires":[[]]},{"id":"ab0929c0.c61608","type":"ui_switch","z":"50903ce9.3e2a84","name":"Run Switch","label":"","tooltip":"","group":"22e7d6ff.867c1a","order":13,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"run","style":"","onvalue":"1","onvalueType":"num","onicon":"pause","oncolor":"Yellow","offvalue":"0","offvalueType":"num","officon":"play_arrow","offcolor":"Green","x":410,"y":140,"wires":[["b13d7b63.e741a8","b2012b9c.0c8528"]]},{"id":"8000f58a.d85d88","type":"ui_button","z":"50903ce9.3e2a84","name":"S & R Button","group":"22e7d6ff.867c1a","order":14,"width":"1","height":"1","passthru":true,"label":"","tooltip":"","color":"Blue","bgcolor":"#323232","icon":"replay","payload":"1","payloadType":"num","topic":"sr","x":410,"y":180,"wires":[["ffe3716e.b4127","6ea483e8.0c8ddc","e721c1af.fa026","5e7f393e.4b6478"]]},{"id":"322f8c33.1a5c24","type":"ui_button","z":"50903ce9.3e2a84","name":"S & C Button","group":"22e7d6ff.867c1a","order":15,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"Red","bgcolor":"#323232","icon":"stop","payload":"1","payloadType":"num","topic":"sc","x":410,"y":220,"wires":[["13a765ae.9c017a","ffe3716e.b4127","3508ad1a.c25252","116aa95e.df8787","6ea483e8.0c8ddc","a9691929.cb1388","8a9a22b4.7fe86"]]},{"id":"eaed379.f538dc8","type":"ui_switch","z":"50903ce9.3e2a84","name":"Drum Switch","label":"","tooltip":"","group":"22e7d6ff.867c1a","order":16,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"drum","style":"","onvalue":"1","onvalueType":"num","onicon":"pause_circle_outline","oncolor":"Yellow","offvalue":"0","offvalueType":"num","officon":"play_circle_outline","offcolor":"Green","x":410,"y":260,"wires":[["ffe3716e.b4127","26b77e88.34d402"]]},{"id":"84fe2f71.79dec","type":"ui_template","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","name":"B Timer LED","order":9,"width":"1","height":"1","format":"<svg>\n    <circle cx=\"19\" cy=\"19\" r=\"10\" style=\"stroke: none; fill: {{msg.running ? 'lime' : 'grey'}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":600,"wires":[[]]},{"id":"3f8d616c.7c236e","type":"ui_template","z":"50903ce9.3e2a84","group":"22e7d6ff.867c1a","name":"C Timer LED","order":12,"width":"1","height":"1","format":"<svg>\n    <circle cx=\"19\" cy=\"19\" r=\"10\" style=\"stroke: none; fill: {{msg.running ? 'lime' : 'grey'}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":680,"wires":[[]]},{"id":"6ea483e8.0c8ddc","type":"function","z":"50903ce9.3e2a84","name":"Set to 0","func":"msg = {payload: 0};\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["ab0929c0.c61608"]]},{"id":"ad16a014.a7b18","type":"switch","z":"50903ce9.3e2a84","name":"Run completed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Run completed!","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":440,"wires":[["6ea483e8.0c8ddc","e597a6ae.7770b8"]]},{"id":"b13d7b63.e741a8","type":"function","z":"50903ce9.3e2a84","name":"Generate Text","func":"value = msg.payload;\n\nif (value === 1) {\n    if (global.get('timerState') === 'stopped') {\n        msg.payload = 'Run Started!';\n    } else  {\n        msg.payload = 'Run Resumed!';\n    }\n} else {\n    if (global.get('timerState') === 'started') {\n        msg.payload = 'Run paused!';\n    } else {\n        msg.payload = '';\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"b2012b9c.0c8528","type":"delay","z":"50903ce9.3e2a84","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":300,"wires":[["ffe3716e.b4127"]]},{"id":"26b77e88.34d402","type":"function","z":"50903ce9.3e2a84","name":"Generate Text","func":"value = msg.payload;\n\nif (value === 0) {\n    if (global.get('drumState') !== 'initial') {\n        msg.payload = 'Drum stopped!';\n    } else {\n        msg.payload = '';\n    }\n} else {\n    msg.payload = 'Drum rotating!';\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"e721c1af.fa026","type":"change","z":"50903ce9.3e2a84","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Run halted & Timers Preset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"a9691929.cb1388","type":"change","z":"50903ce9.3e2a84","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Run halted & Timers Cleared","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[["e597a6ae.7770b8","52df2ea.3cf3fd"]]},{"id":"1147009.cdaacff","type":"delay","z":"50903ce9.3e2a84","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1350,"y":720,"wires":[["c6d50463.e07d58"]]},{"id":"8ae50c.fff5aaf","type":"delay","z":"50903ce9.3e2a84","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1350,"y":780,"wires":[["8e6fab85.0f91e8"]]},{"id":"9daa4b06.9854b8","type":"switch","z":"50903ce9.3e2a84","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":720,"wires":[["1147009.cdaacff"],["c6d50463.e07d58"]]},{"id":"47bd3a65.38c474","type":"switch","z":"50903ce9.3e2a84","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":780,"wires":[["8ae50c.fff5aaf"],["8e6fab85.0f91e8"]]},{"id":"9115fb35.aebfd8","type":"file in","z":"50903ce9.3e2a84","name":"Read File","filename":"./config.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":60,"wires":[["60f0283.933ead8"]]},{"id":"60f0283.933ead8","type":"json","z":"50903ce9.3e2a84","name":"Convert to JSON Object","property":"payload","action":"","pretty":false,"x":830,"y":60,"wires":[["7baab5b5.2f0afc"]]},{"id":"7baab5b5.2f0afc","type":"function","z":"50903ce9.3e2a84","name":"Save Profile to Global Variable","func":"global.set('profile', msg.payload);\n\nmsg.payload = global.get('profile');\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":60,"wires":[["3fe119ed.993666","8000f58a.d85d88"]]},{"id":"7269eca7.b60414","type":"function","z":"50903ce9.3e2a84","name":"Set Profile Index","func":"global.set('profile_idx', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":20,"wires":[["ff82b0d9.5863c"]]},{"id":"5e7f393e.4b6478","type":"function","z":"50903ce9.3e2a84","name":"Set Parameters based on Profile","func":"\nvar profile_data = global.get('profile')['profile' + global.get('profile_idx')];\n\nmsg = [];\nfor (var i = 1; i <= global.get('totalStage'); i++) {\n    msg.push({\n        payload: {\n           dur:  profile_data['dur' + i],\n           dir:  profile_data['dir' + i],\n           spd:  profile_data['spd' + i],\n        }\n    });\n}\nmsg.push({payload: profile_data['loop']});\nreturn msg;","outputs":4,"noerr":0,"x":310,"y":440,"wires":[["3508ad1a.c25252"],["8a9a22b4.7fe86"],["116aa95e.df8787"],["13a765ae.9c017a"]]},{"id":"afea9776.bc71a8","type":"function","z":"50903ce9.3e2a84","name":"Update Global Profile","func":"var profile_data = {};\n\nfor (var i = 1; i <= global.get('totalStage'); i++) {\n    profile_data['dur' + i] = global.get('dur' + i);\n    profile_data['dir' + i] = global.get('dir' + i);\n    profile_data['spd' + i] = global.get('spd' + i);\n}\nprofile_data['loop'] = global.get('loop');\n\nvar profile = global.get('profile');\n\nprofile['profile' + global.get('profile_idx')] = profile_data;\n\nglobal.set('profile', profile);\n\nmsg.payload = global.get('profile');\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["e882a350.dd938"]]},{"id":"e882a350.dd938","type":"file","z":"50903ce9.3e2a84","name":"Save Profile File","filename":"config.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":880,"y":100,"wires":[["fb8c4da3.5ead3"]]},{"id":"934b24d.d8804d8","type":"function","z":"937ebd5d.7708f","name":"Update Elements","func":"var config = msg.payload;\n\nglobal.set('stageADirReset', true);\nglobal.set('stageASpdReset', true);\n\nif (config == 1) {\n    msg = [{payload: 1}, {payload: global.get('dir1')}, {payload: global.get('spd1')}];\n} else {\n    msg = [{payload: config.dur}, {payload: config.dir}, {payload: config.spd}];\n}\nreturn msg;","outputs":3,"noerr":0,"x":150,"y":140,"wires":[["128bdc21.618de4"],["cc340c0.dfbd1f8"],["be319941.33e458"]]},{"id":"32033bac.8017b4","type":"function","z":"50903ce9.3e2a84","name":"Set to 1","func":"msg = {payload: 1}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["13a765ae.9c017a","2d189340.a70e8c","dc4dab78.a17f08"]]},{"id":"9e6d5c2d.55609","type":"switch","z":"937ebd5d.7708f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":140,"wires":[["5f9e1290.d8c68c"]]},{"id":"65690f45.6ef61","type":"function","z":"937ebd5d.7708f","name":"Check if it's clicked","func":"msg = {payload: global.get('stageADirReset')};\nglobal.set('stageADirReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["9e6d5c2d.55609"]]},{"id":"6c7c005.4fa2e","type":"switch","z":"937ebd5d.7708f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":200,"wires":[["9df880f.75f048"]]},{"id":"eb8680c9.bd246","type":"function","z":"937ebd5d.7708f","name":"Check if it's clicked","func":"msg = {payload: global.get('stageASpdReset')};\nglobal.set('stageASpdReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":200,"wires":[["6c7c005.4fa2e"]]},{"id":"5f9e1290.d8c68c","type":"function","z":"937ebd5d.7708f","name":"Get Direction","func":"msg.payload = global.get('dir1');\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["de483a53.d80408"]]},{"id":"9df880f.75f048","type":"function","z":"937ebd5d.7708f","name":"Get Speed","func":"msg.payload = global.get('spd1');\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["8753b43f.ba83f8"]]},{"id":"4952f3de.9dd5bc","type":"change","z":"924326d9.af7648","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"B\" Forward","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"B\" Reverse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":140,"wires":[[]]},{"id":"cb8c6085.efdff","type":"change","z":"924326d9.af7648","name":"Generate Text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Stage \"B\" High","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Stage \"B\" Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":200,"wires":[[]]},{"id":"9033d18.b2dae3","type":"function","z":"924326d9.af7648","name":"Store Stage B Speed","func":"\nglobal.set('spd2', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["7f6fe770.3a9ef8"]]},{"id":"1e7437ba.d7a298","type":"function","z":"924326d9.af7648","name":"Store Stage B Direction","func":"\nglobal.set('dir2', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["dd6380.3ad9cc8"]]},{"id":"91eb270d.a66108","type":"function","z":"924326d9.af7648","name":"Store Stage B Duratioin","func":"\nglobal.set('dur2', msg.payload);\n","outputs":1,"noerr":0,"x":650,"y":80,"wires":[[]]},{"id":"b84c909.2bb7d7","type":"ui_numeric","z":"924326d9.af7648","name":"Stage B Duration","label":"Set B to: ","tooltip":"","group":"22e7d6ff.867c1a","order":7,"width":"4","height":"1","passthru":true,"topic":"duration","format":"{{value}} min.","min":"1","max":"30","step":1,"x":410,"y":80,"wires":[["91eb270d.a66108"]]},{"id":"b1284e56.deb27","type":"ui_switch","z":"924326d9.af7648","name":"Stage B Direction","label":"","tooltip":"","group":"f8954383.42769","order":4,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"direction","style":"","onvalue":"1","onvalueType":"num","onicon":"rotate_right","oncolor":"Magenta","offvalue":"0","offvalueType":"num","officon":"rotate_left","offcolor":"Magenta","x":410,"y":140,"wires":[["1e7437ba.d7a298"]]},{"id":"46bb29f8.e92c88","type":"ui_switch","z":"924326d9.af7648","name":"Stage B Speed","label":"","tooltip":"","group":"f8954383.42769","order":5,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"speed","style":"","onvalue":"1","onvalueType":"num","onicon":"vertical_align_top","oncolor":"Cyan","offvalue":"0","offvalueType":"num","officon":"vertical_align_bottom","offcolor":"Cyan","x":400,"y":200,"wires":[["9033d18.b2dae3"]]},{"id":"3f8fc3da.1a895c","type":"function","z":"924326d9.af7648","name":"Update Elements","func":"var config = msg.payload;\n\nglobal.set('stageBDirReset', true);\nglobal.set('stageBSpdReset', true);\n\nif (config == 1) {\n    msg = [{payload: 1}, {payload: global.get('dir2')}, {payload: global.get('spd2')}];\n} else {\n    msg = [{payload: config.dur}, {payload: config.dir}, {payload: config.spd}];\n}\nreturn msg;","outputs":3,"noerr":0,"x":190,"y":140,"wires":[["b84c909.2bb7d7"],["b1284e56.deb27"],["46bb29f8.e92c88"]]},{"id":"4cdf0560.21d20c","type":"switch","z":"924326d9.af7648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":140,"wires":[["26b3d030.ec008"]]},{"id":"dd6380.3ad9cc8","type":"function","z":"924326d9.af7648","name":"Check if it's clicked","func":"msg = {payload: global.get('stageBDirReset')};\nglobal.set('stageBDirReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":140,"wires":[["4cdf0560.21d20c"]]},{"id":"c86fe709.12de68","type":"switch","z":"924326d9.af7648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":200,"wires":[["cf7c0d81.a7213"]]},{"id":"7f6fe770.3a9ef8","type":"function","z":"924326d9.af7648","name":"Check if it's clicked","func":"msg = {payload: global.get('stageBSpdReset')};\nglobal.set('stageBDirReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["c86fe709.12de68"]]},{"id":"26b3d030.ec008","type":"function","z":"924326d9.af7648","name":"Get Direction","func":"msg.payload = global.get('dir2');\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["4952f3de.9dd5bc"]]},{"id":"cf7c0d81.a7213","type":"function","z":"924326d9.af7648","name":"Get Speed","func":"msg.payload = global.get('spd2');\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["cb8c6085.efdff"]]},{"id":"94917c69.17dcd","type":"function","z":"de71bee8.90c2e","name":"Get Direction","func":"msg.payload = global.get('dir3');\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":180,"wires":[["a324fbf8.d658f8"]]},{"id":"6bd968ef.439528","type":"function","z":"de71bee8.90c2e","name":"Get Speed","func":"msg.payload = global.get('spd3');\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[["6248b56.0abcd4c"]]},{"id":"c5750874.b55188","type":"switch","z":"de71bee8.90c2e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":240,"wires":[["6bd968ef.439528"]]},{"id":"657b7d98.491954","type":"switch","z":"de71bee8.90c2e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":180,"wires":[["94917c69.17dcd"]]},{"id":"a7f55c10.4efe8","type":"function","z":"de71bee8.90c2e","name":"Check if it's clicked","func":"msg = {payload: global.get('stageCDirReset')};\nglobal.set('stageCDirReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["657b7d98.491954"]]},{"id":"65b3654f.14980c","type":"function","z":"de71bee8.90c2e","name":"Check if it's clicked","func":"msg = {payload: global.get('stageCSpdReset')};\nglobal.set('stageCSpdReset', false);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["c5750874.b55188"]]},{"id":"f784b66b.8e5768","type":"function","z":"de71bee8.90c2e","name":"Update Elements","func":"var config = msg.payload;\n\nglobal.set('stageCDirReset', true);\nglobal.set('stageCSpdReset', true);\n\nif (config == 1) {\n    msg = [{payload: 1}, {payload: global.get('dir3')}, {payload: global.get('spd3')}];\n} else {\n    msg = [{payload: config.dur}, {payload: config.dir}, {payload: config.spd}];\n}\nreturn msg;","outputs":3,"noerr":0,"x":230,"y":180,"wires":[["424b71a2.750b"],["67a255a9.92fcfc"],["c00361cc.14aaf"]]}]